*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{}
main{
  /* width: 100vw;
  height: 100vh; */

}
section{}
article{}
#palermo{}
#milano{}
#roma{}
.city_box{
  width: 100vw;
  height: 33vh;
  display: inline;
}
.black_opacity{}
.city_img{
  /* width: 100vw;
  height: 33vh; */
}
footer{}
